<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- <title>Base Template</title> --}}
    <style>
      body {
        margin: 0px;
      }

      .header {
        background-color: #123570;
        max-height: 90px;
      }
      .header img {
        height: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .footer {
        background-color: #123570;
        min-height: 100px;
        color: rgb(235, 235, 235);
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
      }
      .footer p {
        margin: 2px;
        font-size: 11px;
      }
      .copyright {
        font-size: 9px;
      }
			.sosmed {
				max-height: 100px;
        margin-bottom: 10px;
			}
			.sosmed img {
        margin: 5px 5px 5px 5px;
				max-height: 50px;
			}
      .content {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
        text-align: center;
      }
      .content  img {
        max-height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .otp {
        letter-spacing: 5px;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
      }
      .btn-link {
        background-color: #123570 !important;
        color: whitesmoke !important;
        height: 40px;
        border-radius: 30px !important;
        padding: 3px 20px 3px 20px !important;
        font-size: 11px !important;
        font-weight: 700 !important;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="header">
      <img
        src="https://irise.imadani.id/static/img/IRise.31691101.png"
        alt="IRise"
      />
    </div>
    <!-- content -->
    <div class="content">
      <p style="font-weight: 700;font-size: 20px;">Account Registered</p>
      {{!-- <img src="https://madani-tech.com/MadaniSS/assets/public/email verified.png" alt="otp"> --}}
      <p style="font-weight: 500">Hello, {{name}}!</p>
      <p>Thank you, your account is already associated with email <b>{{email}}</b> and password<b>{{password}}</b>, please use this email to login to irise.</p>
      <p>Please use button below for login to your account</p>
      <a href="https://irise.imadani.id/#/login">
        <button class="btn btn-link">
          LOGIN TO YOUR ACCOUNT
        </button>
      </a>
      <hr style="width: 30%;border-top:solid 1px rgb(68, 68, 68);">
      <p>or use this link below <a href="https://irise.imadani.id/#/login">https://irise.imadani.id/login</a></p>
      <p class="copyright">if you have any question, please contact us an email <a href="mailto:support@irise.id">support@irise.id</a></p>
    </div>
    <!-- end content -->
    <div class="footer">
			<div class="sosmed">
        <a href="https://m.facebook.com/profile.php?id=100073772237732">
				  <img src="https://madani-tech.com/MadaniSS/assets/public/Facebook_white.png" alt="fb">
        </a>
        <a href="https://twitter.com/imadaniofficial">
          <img src="https://madani-tech.com/MadaniSS/assets/public/Twitter.png" alt="tw">
        </a>
        <a href="https://www.instagram.com/imadani_official/">
          <img src="https://madani-tech.com/MadaniSS/assets/public/Instagram_white.png" alt="ig">
        </a>
        <a href="https://www.youtube.com/channel/UCtQADiTfvUrIObloch8enlQ">
          <img src="https://madani-tech.com/MadaniSS/assets/public/Phone_white.png" alt="yt">
        </a>
        <a href="https://www.tiktok.com/@imadani_official">
          <img src="https://madani-tech.com/MadaniSS/assets/public/Phone_white.png" alt="tk">
        </a>
        <a href="http://wa.me/+6281388977906">
          <img src="https://madani-tech.com/MadaniSS/assets/public/Phone_white.png" alt="wa">
        </a>
			</div>
      <br />
      <p class="copyright">copyright © 2021 IRise, All right reserved</p>
    </div>
  </body>
</html>
